<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChordX API Tests">
    <listeners>
        <listener class-name="Resources.ExtentReportNG" />
    </listeners>
    <test verbose="2" preserve-order="true" name="ChordX API Automation">
        <packages>
            <package name="APITests"></package>
            <package name="MutationTests"></package>
        </packages>
    </test>
</suite>